<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>TRANSLATE BOT!</title>
</head>

<body>
    <main class="margin-lock">
        <header class="txt-center">
            <h1>TRANSLATE BOT</h1>
        </header>
        <section>
            <form id="form" class="flex-container flex-stack">
                <textarea id="input" class="textarea" cols="40" rows="5"></textarea>
                <div class="flex-container flex-center">
                    <select id="select-1">
                    </select>
                    <p id="to">TO</p>
                    <select id="select-2">
                    </select>
                </div>
                <button>TRANSLATE</button>
            </form>
        </section>
        <section>
            <textarea id="response" class="textarea hidden" cols="40" rows="5"></textarea>
            <p id="error"></p>
        </section>
    </main>
    <script src="/static/script.js"></script>
</body>

</html>